.projectCard {
    background: white;
    color: black;
    margin: 10px;
    font-size: 1.5rem;
    align-items: center;
}

.initialContainer {
    padding: 2.5em;
}

.verLine{
    border: 1px solid;
    height: 150px;
    align-self: center;
}

.projectTitle{
    color: black;
    font-size: 1.3em;
    margin-bottom: .5em;
    /* margin-top: 1em; */
    font-weight: 400;
    padding-left: .5em;
    text-align: left;
}
.projectContent{
    width: 100%;
    padding: 1em;
    align-content: space-evenly;;
}

.projectDateContainer{
    padding-left: .5em;
    align-content: space-between;
}
strong{
    font-weight: 500;
    color: grey;
}

.projectDateContainer span{
    width: 30%;
}
.description{
    padding: .5em;
    font-size: 1.6rem;
    font-weight: 200;
}
.projectMeta{
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    flex-grow: 1;
}
.meta{
    width: 10%;
}
.license,.language{
    width: 30%;
    text-align: center;
}
@media only screen and (max-width:425px) {
    .initialContainer {
        padding: .5em;
    }
    .projectDateContainer span{
        width: 50%;
    }
    .meta{
        width: 25%;
    }
    .license,.language{
        width: 95%;
    }
}