.circle-button-lists {
    flex: 1 1 100%;
    box-sizing: border-box;
    flex-direction: row;
    max-width: 15%;
    display: flex;
}

.circle-button-lists div {
    float: left;
    margin: 10px;
}

.circle-button-lists a:link, .circle-button-lists a:visited {
    color: white;
}

.btn-cir {
    width: 10%;
}

.Reach {
    width: 50%;
    float: left;
    font-size: 1.5em;
    font-weight: 100;
    flex: 1 1 100%;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 14%;
    display: flex;
}

.Reach span {
    font-size: .5em;
    margin-left: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    padding: 2em;
    /* margin-top: 6em */
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    height: auto;
    width: 100%;
}

.center {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.circle-button {
    border-radius: 100%;
    height: auto;
    width: 3.5em;
    border: 3px solid white;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.circle-button i {
    font-size: 2em;
    padding: 10px;
}