# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master,feature/gitACtions]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Setup Node.js environment
      uses: actions/setup-node@v2
      with:
        node-version: 18.x
    - uses: actions/cache@v4
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
    - name: Install npm
      if: steps.npm-cache.outputs.cache-hit != 'true'
      run: npm install
    - name: Run test
      run: npm test
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Setup Node.js environment
      uses: actions/setup-node@v2
      with:
        node-version: 18.x
    - uses: actions/cache@v4
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
    - name: Install npm
      if: steps.npm-cache.outputs.cache-hit != 'true'
      run: npm install
    - name: Run Lint
      run: npm run lint
