name: Build docker image

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy.'
        required: true
        type: choice
        options:
        - Develop
        - Staging
        - Production
      tags:
        description: 'the Tag that has to be deployed.'
        required: true
        type: string


env:
 ARTIFACT_PROJECT_ID: artifact-registry-421902 
 GAR_LOCATION: us-central1  # TODO: update Artifact Registry location
 SERVICE: alignmt-platform # TODO: update Cloud Run service name

jobs:
  setup-job:
    runs-on: ubuntu-latest
    outputs:
      PROJECT_ID: ${{ steps.set-variables.outputs.PROJECT_ID }}
      REGION1: ${{ steps.set-variables.outputs.REGION1 }}
      REGION2: ${{ steps.set-variables.outputs.REGION2 }}
    steps:
      - uses: actions/checkout@v6
      - name: Set Env Values
        id: set-variables
        run: |
          if [ ${{ inputs.environment }} == 'Production' ]; then
            echo "PROJECT_ID=prod" >> $GITHUB_OUTPUT
            echo "REGION1=us-east1" >> $GITHUB_OUTPUT
            echo "REGION2=us-west1" >> $GITHUB_OUTPUT
          else
            echo "REGION1=us-central1" >> $GITHUB_OUTPUT
          fi
          if [ ${{ inputs.environment }} == 'Staging' ]; then
            echo "PROJECT_ID=staging-421902" >> $GITHUB_OUTPUT
          fi
          if [ ${{ inputs.environment }} == 'Develop' ]; then
            echo "PROJECT_ID=develop-421902" >> $GITHUB_OUTPUT
          fi
        shell: bash
  subs:
    runs-on: ubuntu-latest
    needs: [setup-job]
    env:
      PROJECT_ID: ${{ needs.setup-job.outputs.PROJECT_ID }}
      REGION1: ${{ needs.setup-job.outputs.REGION1 }}
      REGION2: ${{ needs.setup-job.outputs.REGION2 }}
    steps:
      - uses: actions/checkout@v6
      - name: Read exported variable
        run: |
          echo "PROJECT_ID ENV: ${{ env.PROJECT_ID }}"
          echo "PROJECT_ID ENV: ${{ env.REGION1 }}"
          echo "ARTIFACT_PROJECT_ID ENV: ${{ env.ARTIFACT_PROJECT_ID }}"
          echo "GAR_LOCATION ENV: ${{ env.GAR_LOCATION }}"
          echo "tag: ${{ inputs.tags }}"
          
